@media only screen and ( max-width: 1024px ) {
    .menu {
        padding: 30px 0px;
    }
    .menu .img-icon{
        width: 100px;
        height: 140px;
    }
    .menu h2{
        font-size : 40px;
    }
    .head-text{
        margin: 20px 0px;
    }
    .sidebar{
        padding: 5px 0px;  
    }
    .sidebar .img-user{
        width: 250px;
        border-radius: 50%;
        padding: 20px 0px;
    }
}

@media only screen and ( max-width: 768px ) {
    .menu .img-icon{
        width: 80px;
        height: 120px;
    }
    .menu h2{
        font-size : 36px;
    }
    .menu h3{
        font-size : 32px;
    }
    .sidebar .img-user{
        width: 220px;
        padding: 40px 0px;
    }
    .konten {
        font-size : 18px;
    }
}

@media only screen and (max-width: 480px) {
    .menu {
        padding: 5px 0px;
    }
    .menu .img-icon{
        margin: 15px 10px;
        width: 45px;
        height: 60px;
    }
    .menu h2{
        font-size : 22px;
    }
    .menu h3{
        font-size : 18px;
    }
    .sidebar .img-user{
        padding: 80px 20px;
        border-radius: 50%;
        width: 150px;
    }
    .konten1 {
        font-size : 14px;
        padding: 20px 0px;
    }
    .konten2 {
        font-size : 14px;
        padding: 35px 0px;
    }
    .lisensi{
        font-size: 16px;
    }
}

@media only screen and ( max-width: 360px ) {
    .menu h2{
        font-size : 20px;
    }
    .menu h3{
        font-size : 16px;
    }
    .konten1 {
        font-size : 12px;
        padding: 25px 0px;
    }
    .konten1 a .satu{
        font-size: 14px;
    }
    .konten2 {
        font-size : 12px;
        padding: 50px 0px;
    }
    .konten1 a p{
        font-size: 14px;
    }
    .konten2 a p{
        font-size: 14px;
    }
    .lisensi{
        font-size: 16px;
    }
}